<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>addCar</title>
    <style>
        form {
            width: 300px;
            height: 400px;
            border: 2px solid red;

        }

        form input {
            line-height: 10px;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>

<body>
    <form action="/addproduct" method="post">
        <h3>Add Your Own Car</h3>
        <input name="image" type="text" placeholder="imagelink"><br>
        <input name="brand" type="text" placeholder="brand"><br>
       <input name="year" type="text" placeholder="year"><br>
      
       <input name="currency" type="text" placeholder="currency"><br>
       <input name="location" type="text" placeholder="location"><br>
        <input name="description" type="text" placeholder="description"><br>
        <button type="submit">Submit</button>

    </form>
</body>

</html>